{literal}
<script>
function gotoSamePage(base_url){
	url = base_url + "&status=" + document.theForm.status.value;
	window.location = url;
	return false;
}
$(document).ready(function() {
	$(".inputAmountUSD").each(function() {
		formatNumberVND($(this));
	});
});
</script>
{/literal}
{include file="_block_inner_head.html"}
{$clsToDate->showJSCSS()}
<form name="theForm" action="" method="post">
<table width="100%" border="0">
<tr>
<td style="padding:10px">
	<div style="padding-bottom:5px;font-size:14px; float:left">
		<strong>{$core->getLang("ListOf")} {$clsDataGrid->getTitle()}</strong>
	</div>
	<div style="float:right;font-size:12px;" align="right">
        <select name="status" id="status">
        <option {if $status eq ""}selected{/if} value="-1">Chọn trạng thái</option>
        {section name=i loop=$arrStatusOptions}
        <option value="{$smarty.section.i.index}" {if $status==$smarty.section.i.index}selected{/if}>{$arrStatusOptions[i]}</option>
        {/section}
        </select>
        Từ ngày:	{$clsFromDate->showInputDate(false)}&nbsp;- đến&nbsp;{$clsToDate->showInputDate(false)}&nbsp;
        <input type="submit" value="Lọc" name="btnFilter" />
	</div>
</td>
</tr>
<tr>
<td style="padding-left:10px;padding-right:10px" width="100%" valign="top">
	{$clsDataGrid->showDataGrid("theForm")}
</td>
</tr>
<tr>
<td  style="padding-left:10px;padding-right:10px">
	{$clsDataGrid->showPaging("theForm")}
</td>
</tr>
</table>
</form>
