{$clsForm->showJS()}
<div class="inner_head_title">
    <table cellpadding="0" cellspacing="0" width="100%" border="0">
        <tr style="background:#FBFBFB">
            <td width="55px" style="padding:5px;">
                <a href="?mod={$mod}&act={$act}"><img src="{$ADMIN_URL_IMAGES}/largeicon/configfront.png"
                                                      border="0"/></a>
            </td>
            <td>
                <span class="title1">{$core->getLang("FrontEndSettings")}</span><br/>
                <span class="title2">{$core->getLang("FrontEndSettings")} ({$lang_code_name})</span>
            </td>
            <td style="padding:5px;" align="right">
                {$clsButtonNav->render()}
            </td>
        </tr>
    </table>
</div>
<form name="theForm" action="" method="post" id="theForm">
    <table width="100%" border="0">
        <tr>
            <td style="padding:10px">
                <div style="padding-bottom:3px;font-size:14px; border-bottom:1px solid #999999; padding-left:5px;">
                    <a class="btn-tab active" href="?mod=settings&act=catsetting">Cấu hình Thanh toán</a>
                    <a class="btn-tab" href="?mod=settings&act=catsetting2">Liên kết MXH</a>
                    <div style="float:right;font-size:12px; width:30%; color:blue" align="right">
                        Ngôn ngữ: {$lang_code_name}
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding:0px 10px" width="100%" valign="top">
                <table cellpadding="0" cellspacing="0" width="100%" border="0" class="girdtable">
                    <tr>
                        <td class="gridrow" width="30%">Cấu hình nội dung "Terms & Conditions" trong trang Checkout</td>
                        <td class="gridrow1">{$clsForm->showInput("payment_terms")}</td>
                    </tr>
                    <tr>
                        <td class="gridrow">Tài khoản ngân hàng 1</td>
                        <td class="gridrow1">{$clsForm->showInput("list_banks_0")}</td>
                    </tr>
                    <tr>
                        <td class="gridrow">Tài khoản ngân hàng 2</td>
                        <td class="gridrow1">{$clsForm->showInput("list_banks_1")}</td>
                    </tr>
                    <tr>
                        <td class="gridrow">Tài khoản ngân hàng 3</td>
                        <td class="gridrow1">{$clsForm->showInput("list_banks_2")}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>