{$clsForm->showJS()}
<div class="inner_head_title">
    <table cellpadding="0" cellspacing="0" width="100%" border="0">
        <tr style="background:#FBFBFB">
            <td width="55px" style="padding:5px;">
                <a href="?mod={$mod}"><img src="{$ADMIN_URL_IMAGES}/largeicon/config.png" border="0" /></a>
            </td>
            <td>
                <span class="title1">{$core->getLang("GeneralSettings")}</span><br />
                <span class="title2">{$core->getLang("GeneralSettings")} ({$lang_code_name})</span>
            </td>
            <td style="padding:5px;" align="right">
                {$clsButtonNav->render()}
            </td>
        </tr>
    </table>
</div>
<form name="theForm" action="" method="post" id="theForm">
    <table width="100%" border="0">
        <tr>
            <td style="padding:10px">
                <div style="padding-bottom:5px;font-size:14px; float:left">
                    <strong>{$core->getLang("GeneralSettings")}</strong>
                </div>
                <div style="float:right;font-size:12px; width:30%; color:blue" align="right">
                    Ngôn ngữ: {$lang_code_name}
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding:0px 10px" width="100%" valign="top">
                <table cellpadding="0" cellspacing="0" width="100%" border="0" class="girdtable">
                    <tr>
                        <td colspan="2" class="gridheader1">{$core->getLang("InputCorrectlyAllBelowFields")}</td>
                    </tr>
                    <tr>
                        <td class="gridrow" width="30%">{$core->getLang("SiteTitle")}</td>
                        <td class="gridrow1">
                            <input type="text" name="site_title" value="{$site_title}" style="width:50%" />
                        </td>
                    </tr>
                    <tr>
                        <td class="gridrow" width="30%">{$core->getLang("Logo")}
                            <small>(Logo của website)</small>
                        </td>
                        <td class="gridrow1">
                            {$clsForm->showInput("site_logo")}
                        </td>
                    </tr>
                    <tr>
                        <td class="gridrow" width="30%">{$core->getLang("Favicon")}
                            <small>(Hiển thị trên thanh bar của trình duyệt)</small>
                        </td>
                        <td class="gridrow1">
                            {$clsForm->showInput("site_favicon")}
                        </td>
                    </tr>
                    <tr>
                        <td class="gridrow" width="30%">{$core->getLang("Logo 2")}
                        </td>
                        <td class="gridrow1">
                            {$clsForm->showInput("site_logo2")}
                        </td>
                    </tr>
                    <!--          <tr>-->
                    <!--            <td class="gridrow">{$core->getLang("Link banner")}</td>-->
                    <!--            <td class="gridrow1">-->
                    <!--              <input type="text" name="banner_link" value="{$banner_link}" style="width:50%"/>-->
                    <!--            </td>-->
                    <!--          </tr>-->
                    <tr>
                        <td class="gridrow">{$core->getLang("SiteName")}</td>
                        <td class="gridrow1">
                            <input type="text" name="site_name" value="{$site_name}" style="width:50%" />
                        </td>
                    </tr>
                    <!--          <tr>-->
                    <!--            <td class="gridrow">{$core->getLang("Phone")}-->
                    <!--            </td>-->
                    <!--            <td class="gridrow1">-->
                    <!--              <input type="text" name="site_phone" value="{$site_phone}" style="width:50%"/>-->
                    <!--            </td>-->
                    <!--          </tr>-->
                    <!--                    <tr>-->
                    <!--                        <td class="gridrow">{$core->getLang("Hotline")}-->
                    <!--                        </td>-->
                    <!--                        <td class="gridrow1">-->
                    <!--                            <input type="text" name="site_hotline" value="{$site_hotline}" style="width:50%"/>-->
                    <!--                        </td>-->
                    <!--                    </tr>-->
                    <!--                    <tr>-->
                    <!--                        <td class="gridrow">{$core->getLang("Email")}-->
                    <!--                        </td>-->
                    <!--                        <td class="gridrow1">-->
                    <!--                            <input type="text" name="site_email" value="{$site_email}" style="width:50%"/>-->
                    <!--                        </td>-->
                    <!--                    </tr>-->
                    <!--                    <tr>-->
                    <!--                        <td class="gridrow">{$core->getLang("Địa chỉ")}</td>-->
                    <!--                        <td class="gridrow1">-->
                    <!--                            <input type="text" name="site_address" value="{$site_address}" style="width:50%"/>-->
                    <!--                        </td>-->
                    <!--                    </tr>-->
                    <!--          <tr>-->
                    <!--            <td class="gridrow">{$core->getLang("VPGD")}</td>-->
                    <!--            <td class="gridrow1">-->
                    <!--              <input type="text" name="site_address2" value="{$site_address2}" style="width:50%"/>-->
                    <!--            </td>-->
                    <!--          </tr>-->
                    <!--          <tr>-->
                    <!--            <td class="gridrow">{$core->getLang("Website")}</td>-->
                    <!--            <td class="gridrow1">-->
                    <!--              <input type="text" name="site_website" value="{$site_website}" style="width:50%"/>-->
                    <!--            </td>-->
                    <!--          </tr>-->
                    <!--                    <tr>-->
                    <!--                        <td class="gridrow">{$core->getLang("Header Address")}</td>-->
                    <!--                        <td class="gridrow1">-->
                    <!--                            <input type="text" name="header_address" value="{$header_address}" style="width:50%"/>-->
                    <!--                        </td>-->
                    <!--                    </tr>-->
                    <!--                    <tr>-->
                    <!--                        <td class="gridrow">{$core->getLang("Văn Phòng")}</td>-->
                    <!--                        <td class="gridrow1">-->
                    <!--                            <input type="text" name="site_addressvp" value="{$site_addressvp}" style="width:50%"/>-->
                    <!--                        </td>-->
                    <!--                    </tr>-->
                    <!--          <tr>-->
                    <tr>
                        <td class="gridrow">{$core->getLang("Copyright_text")}</td>
                        <td class="gridrow1">
                            <input type="text" name="copyright" value="{$copyright}" style="width:99%" />
                        </td>
                    </tr>
                    <!--          <tr>-->
                    <!--            <td class="gridrow">{$core->getLang("Facebook")}</td>-->
                    <!--            <td class="gridrow1">-->
                    <!--              <input type="text" name="site_facebook" value="{$site_facebook}" style="width:50%"/>-->
                    <!--            </td>-->
                    <!--          </tr>-->
                    <!--                    <tr>-->
                    <!--                        <td class="gridrow" width="30%">{$core->getLang('Bản đồ')}</td>-->
                    <!--                        <td class="gridrow1">-->
                    <!--                            {$clsForm->showInput("contact_map")}-->
                    <!--                        </td>-->
                    <!--                    </tr>-->
                    <tr>
                        <td class="gridrow" width="30%">{$core->getLang('Nội dung phản hồi khách hàng đăng ký gửi qua mail')}</td>
                        <td class="gridrow1">
                            {$clsForm->showInput("content_email")}
                        </td>
                    </tr>
                    <tr>
                        <td class="gridrow" width="30%">{$core->getLang('Edit text Slider Home ')}</td>
                        <td class="gridrow1">
                            {$clsForm->showInput("content_slider")}
                        </td>
                    </tr>
                    <tr>
                        <td class="gridrow" width="30%">{$core->getLang("File")}
                        </td>
                        <td class="gridrow1">
                            {$clsForm->showInput("download_zip")}
                        </td>
                    </tr>
                    <!--                    <tr>-->
                    <!--                        <td class="gridrow" width="30%">{$core->getLang("Video")}-->
                    <!--                        </td>-->
                    <!--                        <td class="gridrow1">-->
                    <!--                            {$clsForm->showInput("video")}-->
                    <!--                        </td>-->
                    <!--                    </tr>-->
                    <tr>
                        <td class="gridrow" width="30%">{$core->getLang("Ảnh bên phải slide")}
                        </td>
                        <td class="gridrow1">
                            {$clsForm->showInput("right_slide_image")}
                        </td>
                    </tr>
                    <tr>
                        <td class="gridrow">{$core->getLang("Alt ảnh bên phải slide")}
                        </td>
                        <td class="gridrow1">
                            <input type="text" name="right_slide_alt" value="{$right_slide_alt}" style="width:50%" />
                        </td>
                    </tr>
                    <tr>
                        <td class="gridrow">{$core->getLang("Link ảnh bên phải slide")}
                        </td>
                        <td class="gridrow1">
                            <input type="text" name="right_slide_link" value="{$right_slide_link}" style="width:50%" />
                        </td>
                    </tr>
                    <tr>
                        <td class="gridrow">{$core->getLang("Link icon_email")}
                        </td>
                        <td class="gridrow1">
                            <input type="text" name="link_email" value="{$link_email}" style="width:50%" />
                        </td>
                    </tr>
                    <tr>
                        <td class="gridrow2" style="color:red">{$core->getLang("Do_you_close_website")}?</td>
                        <td class="gridrow3" style="color:red" valign="top">
                            <select name="is_close_site" class="content">
                                <option value="1" {if $is_close_site==1}selected{/if}> {$core->getLang("Yes_For_maintenance")}
                                </option>
                                <option value="0" {if $is_close_site==0}selected{/if}> {$core->getLang("No_Active_normally")}
                                </option>
                            </select>
                            <div id="close_site_notice_id" style="display:none; padding-top:10px">
                                {$core->getLang("Notification_when_closing")}:
                                {$clsForm->showInput("close_site_notice")}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="gridheader1">{$core->getLang("SMTP_Setting")}</td>
                    </tr>
                    <tr>
                        <td class="gridrow">{$core->getLang("Webmaster_email")}</td>
                        <td class="gridrow1">
                            <input type="text" name="webmaster_email" value="{$webmaster_email}" style="width:50%" />
                        </td>
                    </tr>
                    <tr>
                        <td class="gridrow">{$core->getLang("SMTP_Server")} / Port</td>
                        <td class="gridrow1">
                            <input type="text" name="smtp_server" value="{$smtp_server}" style="width:50%" placeholder="vd: smtp.gmail.com" />
                            <input type="text" name="smtp_port" value="{$smtp_port}" style="width:50px" maxlength="4" placeholder="vd: 465" />
                        </td>
                    </tr>
                    <tr>
                        <td class="gridrow">{$core->getLang("SMTP_Username")}</td>
                        <td class="gridrow1">
                            <input type="text" name="smtp_user" value="{$smtp_user}" style="width:50%" placeholder="vd: abc@gmail.com" />
                        </td>
                    </tr>
                    <tr>
                        <td class="gridrow">{$core->getLang("SMTP_Password")}</td>
                        <td class="gridrow1">
                            <input type="password" name="smtp_pass" value="{$smtp_pass}" style="width:50%" placeholder="máº­t kháº©u *****" />
                        </td>
                    </tr>
                </table>
                <em>
                    <font style="font-size:10px">{$core->getLang("Note")}: * {$core->getLang("isrequired")}</font>
                </em>
            </td>
        </tr>
    </table>
</form>