
.loader-overlay.show {
    transition: 1s;
    opacity: 1;
    z-index: 123;
    display: block;
}

.loader-overlay {
    z-index: -1;
    opacity: 0;
    position: fixed;
    content: '';
    width: 100%;
    height: 100%;
    background: #00000047;
    display: none;
    top: 0;
}

.loader-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #cf0212;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.accordion__btns{
    justify-content: flex-end;
}
.accordion__btns .button{
    line-height: 40px;
    min-width: 170px;
}
.news-section__exp-date {
    position: absolute;
    right: 30px;
    font-size: 16px;
}
.sticky-btns__link{
    width: 40px;
    height: 40px;
}

.news-section__element:hover {
    color: #cf0212;
    text-decoration: underline;
}
.news-section__element.active {
    color: #cf0212;
}

.application__desc,.about__title{
    font-size: 16px;
    font-weight: 300; 
}
a.text-default.phone{
    color: red;
    font-weight: 500;
}
.banner__title{
    font-size: 25px; font-weight: 500;
}
header.header{
    font-size: 16px;
}
footer.footer{
    font-size: 16px;
}
input#header-search{
    font-size: 16px;
}

/*Add style phuonghv 11/03/2020*/

.dowloads_catalogue {
    float: right;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}