{include file="_block_inner_head.html"}
<form name="theForm" action="{$base_url}" method="post" id="theForm">
    <table width="100%" border="0">
        <tr>
            <td style="padding:10px">
                <div style="font-size:14px; float:left; width:30%">
                    <strong>{$core->getLang("ListOf")} {$clsDataGrid->getTitle()}</strong>
                </div>
                <div style="float:left; width:38%; text-align:center">
                    <input type="text" value="{$skeyword}" name="skeyword" placeholder="{$core->getLang('Keyword')}"/>
                    <select name="sis_hot">
                        <option value="-1">Tất cả trạng thái</option>
                        <option value="0" {if $sis_hot==0}selected{/if}>Không nổi bật</option>
                        <option value="1" {if $sis_hot==1}selected{/if}>Nổi bật</option>
                    </select>
                    <select name="scatid">
                        <option value="">--- {$core->getLang("Nhóm tin")} ---</option>
                        {$scatid_options}
                    </select>
                    <input type="submit" value="{$core->getLang('Search')}" name="searchBtn"/>
                </div>
                <div style="float:right;font-size:12px; width:30%; color:blue" align="right">
                    Ngôn ngữ: {$lang_code_name}
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding:0px 10px" width="100%" valign="top">
                {$clsDataGrid->showDataGrid("theForm")}
            </td>
        </tr>
        <tr>
            <td style="padding:0px 10px">
                {$clsDataGrid->showPaging("theForm")}
            </td>
        </tr>
    </table>
</form>

{literal}
<script>
    function confirmClone() {
        var total = 0;
        var fmobj = document.theForm;
        for (var i=0;i<fmobj.elements.length;i++) {
            var e = fmobj.elements[i];
            if ((e.name != 'allbox') && (e.type=='checkbox') && (!e.disabled)) {
                if (e.checked) total++;
            }
        }
        if (total==0){
            alert('Bạn phải chọn ít nhất 1 bản ghi!');
            return false;
        }
        if (confirm("Bạn có muốn sao chép không [OK]:Yes [Cancel]:No?")) {
            document.theForm.action = "?mod=job&act=clone&return==";
            document.theForm.submit();
            return true;
        }
        return false;
    }
</script>
{/literal}