{include file="_block_inner_head.html"}
<form name="theForm" action="" method="post" id="theForm">
<table width="100%" border="0">
<tr>
<td style="padding:10px">
	<div style="font-size:14px; float:left; width:70%">
	<strong>{$core->getLang("ListOf")} {$clsDataGrid->getTitle()}</strong>
	<select name="mod_sub_act" onchange="submitform();">
	{$htmlOptionsModSubAct}
	</select>
	
	<select name="position" onchange="submitform();">
	<option value="">Tất cả các vị trí</option>
	{$htmlOptionsPosition}
	</select>
	<input type="submit" value="Go" name="btnGo">
	</div>
	<div style="float:right;font-size:12px; width:29%; color:blue" align="right">
	Ngôn ngữ: {$lang_code_name}
	</div>
</td>
</tr>
<tr>
<td style="padding:0px 10px" width="100%" valign="top">
	{$clsDataGrid->showDataGrid("theForm")}
</td>
</tr>
<tr>
<td  style="padding:0px 10px">
	{$clsDataGrid->showPaging("theForm")}
</td>
</tr>
</table>
</form>
{literal}
<script>
	function confirmClone() {
		var total = 0;
		var fmobj = document.theForm;
		for (var i=0;i<fmobj.elements.length;i++) {
			var e = fmobj.elements[i];
			if ((e.name != 'allbox') && (e.type=='checkbox') && (!e.disabled)) {
				if (e.checked) total++;
			}
		}
		if (total==0){
			alert('Bạn phải chọn ít nhất 1 bản ghi!');
			return false;
		}
		if (confirm("Bạn có muốn sao chép không [OK]:Yes [Cancel]:No?")) {
			document.theForm.action = "?mod=adver&act=clone&return==";
			document.theForm.submit();
			return true;
		}
		return false;
	}
</script>
{/literal}