{include file="_block_inner_head.html"}
<form name="theForm" action="" method="post" id="theForm">
<table width="100%" border="0">
<tr>
<td style="padding:10px">
	<div style="font-size:14px; float:left">
	<strong>{$core->getLang("ListOf")} {$clsDataGrid->getTitle()}</strong> 
	{if $arrParent.name ne ""}
	[Trang cha: <b>{$arrParent.name}</b>]
	{/if}
	</div>
	<div style="float:right;font-size:12px; width:30%; color:blue" align="right">
	Ngôn ngữ: {$lang_code_name}
	</div>
</td>
</tr>
<tr>
	<td style="padding:0px 10px" width="100%" valign="top">
	{$clsDataGrid->showDataGrid("theForm")}
	</td>
</tr>
<tr>
	<td  style="padding:0px 10px">
	{$clsDataGrid->showPaging("theForm")}
	</td>
</tr>
</table>
</form>


{literal}
<script>
	function confirmClone() {
		var total = 0;
		var fmobj = document.theForm;
		for (var i=0;i<fmobj.elements.length;i++) {
			var e = fmobj.elements[i];
			if ((e.name != 'allbox') && (e.type=='checkbox') && (!e.disabled)) {
				if (e.checked) total++;
			}
		}
		if (total==0){
			alert('Bạn phải chọn ít nhất 1 bản ghi!');
			return false;
		}
		if (confirm("Bạn có muốn sao chép không [OK]:Yes [Cancel]:No?")) {
			document.theForm.action = "?mod=pages&act=clone&return=bW9kPXBhZ2Vz=";
			document.theForm.submit();
			return true;
		}
		return false;
	}
</script>
{/literal}