body {
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:0px 0px 40px 0px;
	padding:0px;
}
input[type='text'],select{
	height: 24px;
}
#navbarColor02{
	font-size: 14px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
	#navbarColor02 ul li > a{
		
	}
.skin-blue .navbar {
    background-color: #095C9E;
}
.dropdown-menu{
	box-shadow: none;
    border-color: #eee;
    border-radius: 0px;
    font-size: 14px;
}
	.dropdown-menu > a {
	    color: #777;
	}
	.dropdown-item.active, .dropdown-item:active{
		background-color: #095C9E;
	}
	.dropdown-item{
		padding: 0.5rem 0.5rem;
	}
/*color*/
.red{color:#FF0000;}
.blue{color:#0000FF;}
.black{color:#000000;}
.grey{color:#333333}
.text-muted{color:#c9c9c9!important;}
.line-through{text-decoration:line-through; }
.extrafield{ display: none; }
.reedit span{ font-size:11px; color:red; }
.button_group button{ margin-right:20px; margin-bottom: 10px; }
/*common*/
.mail_quote{
	color:#999999;
}
ul.errorbox{
	background:#FFFFCC;
	margin:0px 0px 5px;
	padding:5px 0px;
	list-style:none;
	color:#FF0000;
	font-size:11px;
}
ul.errorbox li{
	padding:0px 0px 3px;
	margin:0px 0px 0px 0px;
	line-height:140%;
	list-style:none;
}
/*buttons*/
#btnSearch{/*type=submit*/
	background:url("../images/icon/search20.png") no-repeat center;
	min-width:30px;
}
/* =============================================== Begin Inner Head =============================================== */
.inner_head_title{
	border-bottom:1px #CCCCCC solid;
}
	.inner_head_title .title1{
		font-size:22px; 
		text-transform:uppercase;
	}
	.inner_head_title .title2{
		font-size:12px; 
		font-style:italic;
		text-transform: none;
	}
.navpath{
	padding-bottom:5px;
}
.button{
	cursor:pointer;
	background:#F0F0F0;
	border:1px #CCCCCC solid;
	padding:2px 3px;
	margin:0px 0px 0px 0px;
	color:#333333;
	font-size:12px;
	min-width:60px;
	text-decoration:none;
}
	.button:hover, .button_select{
		background:#E2E2E2;
		border:1px #999999 solid;
		color:#000000;
		text-decoration:none;
	}
	.button img{
		vertical-align:middle;
	}
.btn-preview-home{
	padding: .10rem .5rem;
}
.btn-tab{
	cursor:pointer;
	background:#F0F0F0;
	border:1px #CCCCCC solid;
	border-bottom:1px;
	padding:5px 5px;
	margin:0px 0px 0px 0px;
	color:#666;
	font-size:13px;
	min-width:60px;
	text-decoration:none;
}
	.btn-tab:hover, .btn-tab.active{		
		background:#FFF;
		border:1px #999999 solid;
		border-bottom:1px #FFF solid;
		color:#000000;
		text-decoration:none;
	}
	.btn-tab.active{
		font-weight: bold;
	}
/* =============================================== End Inner Head =============================================== */
/* =============================================== Begin Data Grid =============================================== */
.girdtable{
	border-top:#CCCCCC 1px solid;
	border-bottom:#CCCCCC 1px solid;
	border-left:#CCCCCC 1px solid;
	border-right:#CCCCCC 1px solid;
}
.girdtable a{
	text-decoration:none;
}
.girdtable tr:hover{
	background:#FFFFCC;
}
.girdtable tr td tr:hover{
	background:none;
}
.girdtable td{
	padding:3px;
}
.girdtable input[type='text'], .girdtable input[type='password']{
	width:94%;
	color:#666666;
}
.gridheader, .gridheader1{
	border-bottom:1px #E2E2E2 solid;
	border-right:1px #CCCCCC solid;
	font-weight:bold;
	font-size:12px;
	padding-left:2px;
	padding-right:2px;
	background:#F0F0F0;
	height:24px;
}
.gridheader1{
	border-right:0px;
}

.gridrow, .gridrow1, .gridrow2, .gridrow3{
	padding-left:2px;
	padding-right:2px;
	font-size:12px;
	height:auto;
	border-right:1px #CCCCCC dotted;
	border-bottom:1px #CCCCCC dotted;
}
.gridrow1{
	border-right: 0px;
}
.gridrow2{
	border-bottom:0px;
}
.gridrow3{
	border-right: 0px;
	border-bottom:0px;
}

.divspan5{
	width: 100%;
}
	.divspan5 span{
		display:inline-table;
		width: 20%;
	}
/* =============================================== End Data Grid =============================================== */
/* =============================================== Begin Content =============================================== */
#sectionDashIcon{
	  
}
	#sectionDashIcon .section_div_name{
		cursor: pointer;
		text-transform: uppercase;
	}
	#sectionDashIcon .section_tbl{
		margin-bottom: 20px;
	}
	#sectionDashIcon .icon-box{
		position: relative;
	}
		#sectionDashIcon .icon-box .badge{
			position: absolute;
			top: 0px;
			right: 0px;			
		}
	#sectionDashIcon .icon-box:hover a{
		color: #000;  	
	}
	#sectionDashIcon .icon-box:hover{		
	}
	#sectionDashIcon .icon-box:hover img{		
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	    filter: grayscale(100%);
	    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    	-moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);    
	}
/* =============================================== End Content =============================================== */
/* =============================================== Begin Footer =============================================== */
#footer{
	position:fixed;
	bottom:0px;
	background-color:#E6E6E6;
	border-top:1px #B9B9B9 solid; 
	line-height:16px;
	font-size:11px;
	color:#666666;
	width:100%;
}
/* =============================================== End Footer =============================================== */
/* =============================================== Begin Responsive =============================================== */
@media (min-width: 780px) and (max-width: 1024px) {
	.nav-sname{
		display:none;
	}
}
@media (max-width:490px){
	.icon-box{
		width: 50px;
		line-height: 1.0;	
	}
	.icon-box span{
		font-size: 11px;
		
	}
	.navbar-nav{
		padding-left: 10px;
	}
}
@media (min-width: 320px) and (max-width: 767px) {
  .table-responsive,
  .table-responsive thead,
  .table-responsive tbody,
  .table-responsive th,
  .table-responsive td,
  .table-responsive tr {
    display: block;
  }
  .table-responsive > thead > tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .table-responsive > tbody > tr {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  .table-responsive > tbody > tr:first-child {
    border-radius: 3px 3px 0 0;
    border-top: none;
  }
  .table-responsive > tbody > tr:last-child {
    border-radius: 0 0 3px 3px;
    border-bottom: none;
  }
  .table-responsive > tbody > tr td {
    border: none;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding-left: 30% !important;
    width: 100%;
    overflow: hidden;
  }
  .table-responsive > tbody > tr td:before {
    content: attr(data-title);
    position: absolute;
    top: 15px;
    left: 14px;
    width: 30%;
    padding-right: 10px;
    white-space: nowrap;
    font-size: 14px;
  }
  .table-responsive > tbody > tr td:first-child {
    text-align: left;
  }
  .table-responsive.table-order > tbody > tr:nth-child(-n + 3) > td:first-child {
    padding: 25px 0 25px 30% !important;
    background-position: left 32% center;
  }
  .table-responsive.table-order > tbody > tr:nth-child(-n + 3) > td:first-child span {
    left: 32%;
  }
}

/* =============================================== End Responsive =============================================== */

.ac_results {
	display: block;
	position: absolute;
	width: 100%;
	overflow: visible;
	padding: 0;
	z-index: 100001;
}

.ac_results ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
	width: 100%;
	max-height: 300px;
	height: auto;
	overflow: auto;
	background-color: #e6e8ec;
}

.ac_results li {
	cursor: pointer;
	display: flex;
	align-items: center;
	font-size: 14px;
	line-height: 24px;
	margin: 0;
	overflow: visible;
	padding: 5px 5px;
	text-align: left;
}

.ac_results li img {
	max-width: 5%;
	height: auto;
	margin-right: 25px;
}

.ac_results ul li:hover {
	color: #000;
	font-weight: bold;
}

.ac_results ul a {
	color: #000;
	font-weight: 500;
}

.ac_results ul em {
	color: Red;
	font-style: normal;
	font-weight: bold;
}

#tr_product_name .gridrow1 {
	display: block;
	position: relative;
}