.calendar {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #fff 1px solid; DISPLAY: none; FONT-SIZE: 11px; BACKGROUND: window; BORDER-LEFT: #fff 1px solid; CURSOR: default; COLOR: windowtext; BORDER-BOTTOM: #000 1px solid; FONT-FAMILY: tahoma,verdana,sans-serif; POSITION: relative
}
.calendar TABLE {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #fff 1px solid; FONT-SIZE: 11px; BACKGROUND: window; BORDER-LEFT: #fff 1px solid; CURSOR: default; COLOR: windowtext; BORDER-BOTTOM: #000 1px solid; FONT-FAMILY: tahoma,verdana,sans-serif
}
.calendar .button {
	BORDER-RIGHT: buttonshadow 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: buttonhighlight 1px solid; PADDING-LEFT: 1px; BACKGROUND: buttonface; PADDING-BOTTOM: 1px; BORDER-LEFT: buttonhighlight 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: buttonshadow 1px solid; TEXT-ALIGN: center;
	min-width:inherit;
}
.calendar .button:hover{
	border:none;
}
.calendar .btnnav {
	BACKGROUND: buttonface no-repeat 100% 100%;
}
.calendar THEAD .title {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 1px; FONT-WEIGHT: bold; BACKGROUND: activecaption; PADDING-BOTTOM: 1px; BORDER-LEFT: #000 1px solid; COLOR: captiontext; PADDING-TOP: 1px; BORDER-BOTTOM: #000 1px solid; TEXT-ALIGN: center
}
.calendar THEAD .headrow {
	
}
.calendar THEAD .daynames {
	
}
.calendar THEAD .name {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: buttonface; PADDING-BOTTOM: 2px; COLOR: buttontext; PADDING-TOP: 2px; BORDER-BOTTOM: buttonshadow 1px solid; TEXT-ALIGN: center
}
.calendar THEAD .weekend {
	COLOR: #f00
}
.calendar THEAD .hilite {
	BORDER-RIGHT: buttonshadow 2px solid; PADDING-RIGHT: 0px; BORDER-TOP: buttonhighlight 2px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: buttonhighlight 2px solid; PADDING-TOP: 0px; BORDER-BOTTOM: buttonshadow 2px solid
}
.calendar THEAD .active {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 0px; PADDING-LEFT: 2px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: buttonshadow; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: buttonhighlight; PADDING-BOTTOM: 0px; BORDER-TOP-COLOR: buttonshadow; PADDING-TOP: 2px; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: buttonhighlight
}
.calendar TBODY .day {
	PADDING-RIGHT: 4px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 2em; PADDING-TOP: 2px; TEXT-ALIGN: right
}
.calendar TBODY .othermonth {
	FONT-SIZE: 80%; COLOR: #aaa
}
.calendar TBODY .oweekend {
	COLOR: #faa
}
.calendar TABLE .wn {
	BORDER-RIGHT: buttonshadow 1px solid; PADDING-RIGHT: 3px; PADDING-LEFT: 2px; BACKGROUND: buttonface; PADDING-BOTTOM: 2px; COLOR: buttontext; PADDING-TOP: 2px
}
.calendar TBODY .rowhilite TD {
	BACKGROUND: highlight; COLOR: highlighttext
}
.calendar TBODY TD.hilite {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #fff 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #000 1px solid
}
.calendar TBODY TD.active {
	BORDER-RIGHT: buttonhighlight 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: buttonshadow 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; BORDER-LEFT: buttonshadow 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: buttonhighlight 1px solid
}
.calendar TBODY TD.selected {
	BORDER-RIGHT: buttonhighlight 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: buttonshadow 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; BACKGROUND: buttonface; PADDING-BOTTOM: 0px; BORDER-LEFT: buttonshadow 1px solid; COLOR: buttontext; PADDING-TOP: 2px; BORDER-BOTTOM: buttonhighlight 1px solid
}
.calendar TBODY TD.weekend {
	COLOR: #f00
}
.calendar TBODY TD.today {
	FONT-WEIGHT: bold; COLOR: #00f
}
.calendar TBODY TD.disabled {
	COLOR: graytext
}
.calendar TBODY .emptycell {
	VISIBILITY: hidden
}
.calendar TBODY .emptyrow {
	DISPLAY: none
}
.calendar TFOOT .footrow {
	
}
.calendar TFOOT .ttip {
	BORDER-RIGHT: buttonhighlight 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: buttonshadow 1px solid; PADDING-LEFT: 1px; BACKGROUND: buttonface; PADDING-BOTTOM: 1px; BORDER-LEFT: buttonshadow 1px solid; COLOR: buttontext; PADDING-TOP: 1px; BORDER-BOTTOM: buttonhighlight 1px solid; TEXT-ALIGN: center
}
.calendar TFOOT .hilite {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 1px; BACKGROUND: #e4e0d8; PADDING-BOTTOM: 1px; BORDER-LEFT: #fff 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #000 1px solid
}
.calendar TFOOT .active {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #fff 1px solid
}
.calendar .combo {
	BORDER-RIGHT: buttonshadow 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: buttonhighlight 1px solid; DISPLAY: none; PADDING-LEFT: 1px; FONT-SIZE: 90%; Z-INDEX: 100; BACKGROUND: menu; LEFT: 0px; PADDING-BOTTOM: 1px; BORDER-LEFT: buttonhighlight 1px solid; WIDTH: 4em; CURSOR: default; COLOR: menutext; PADDING-TOP: 1px; BORDER-BOTTOM: buttonshadow 1px solid; POSITION: absolute; TOP: 0px
}
.calendar .combo .label {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; TEXT-ALIGN: center
}
.calendar .combo .label-IEfix {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; TEXT-ALIGN: center
}
.calendar .combo .label-IEfix {
	WIDTH: 4em
}
.calendar .combo .active {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #000 1px solid
}
.calendar .combo .hilite {
	BACKGROUND: highlight; COLOR: highlighttext
}
.calendar TD.time {
	PADDING-RIGHT: 0px; BORDER-TOP: buttonshadow 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; BACKGROUND-COLOR: buttonface; TEXT-ALIGN: center
}
.calendar TD.time .hour {
	BORDER-RIGHT: #889 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #889 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; BORDER-LEFT: #889 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #889 1px solid; BACKGROUND-COLOR: menu
}
.calendar TD.time .minute {
	BORDER-RIGHT: #889 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #889 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; BORDER-LEFT: #889 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #889 1px solid; BACKGROUND-COLOR: menu
}
.calendar TD.time .ampm {
	BORDER-RIGHT: #889 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #889 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; BORDER-LEFT: #889 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #889 1px solid; BACKGROUND-COLOR: menu
}
.calendar TD.time .ampm {
	TEXT-ALIGN: center
}
.calendar TD.time .colon {
	PADDING-RIGHT: 2px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.calendar TD.time SPAN.hilite {
	BORDER-LEFT-COLOR: #000; BORDER-BOTTOM-COLOR: #000; COLOR: highlighttext; BORDER-TOP-COLOR: #000; BACKGROUND-COLOR: highlight; BORDER-RIGHT-COLOR: #000
}
.calendar TD.time SPAN.active {
	BORDER-LEFT-COLOR: #f00; BORDER-BOTTOM-COLOR: #f00; COLOR: #0f0; BORDER-TOP-COLOR: #f00; BACKGROUND-COLOR: #000; BORDER-RIGHT-COLOR: #f00
}
